<!DOCTYPE html>
<html>
<head>
  <title>Mwiacek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->
<div class="bloc bgc-1 d-bloc bg-l-edge">
  <div class="container">
    <nav class="navbar nav-center row">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="index.html"><%= image_tag "rhino.png", width: '100', height: '70' %>Michał Wiącek</a>-->
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a href="index.html" class="ltc-2">Home</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<p class="flash"><%= flash.notice %></p>
<div class="container">
  <%= yield %>
</div>
<!-- Footer - bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-md-offset-4">
        <div class="col-sm-3 text-center">
          <a class="social" href="#"><span class="fa fa-twitter icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="#"><span class="fa fa-facebook icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="http://github.com/michal-wiacek"><span class="fa fa-github icon-md"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-3 END -->
</body>
</html>